{% extends 'employee/index.html' %}

{% block head %}
  {{ super() }}
  <title>Employee Data Form</title>
  <style>
    button {
      padding: 10px 20px;
      color: black;
      border-radius: 5px;
      margin-top: 20px;
      margin-right: 10px;
    }
  </style>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
    window.onload = () => {
      setBenefitsEnabled();
    };
  </script>
{% endblock %}

{% block content %}
  {{ super() }}
  <h3>Employee Data Form</h3>
  <form method="POST">
    <fieldset>
      <legend>Personal Information</legend>

      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" value="{{ emp.FirstName if emp else '' }}" required><br><br>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" value="{{ emp.LastName if emp else '' }}" required><br><br>

      <label for="gender">Gender:</label>
      <select id="gender" name="gender" required>
      {% for gender in genders %}
        <option value="{{ gender.Name }}" {{ 'selected' if emp and emp.Gender == gender.Name else '' }}>{{ gender.Name }}</option>
      {% endfor %}
      </select><br><br>

      <label for="ssn">Social Security Number:</label>
      <input type="text" id="ssn" name="ssn" maxlength="11" value="{{ emp.SocialSecurity if emp else '' }}" required oninput="formatSSN()"><br><br>

      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" min="1900-01-01" max="2007-01-01" value="{{ emp.BirthDate if emp else '' }}" required><br><br>

      <label for="address">Primary Address:</label>
      <input type="text" id="address" name="address" value="{{ emp.StreetAddress if emp else '' }}" required><br><br>

      <label for="city">City:</label>
      <input type="text" id="city" name="city" value="{{ emp.City if emp else '' }}" required><br><br>

      <label for="state">State (Abbr.):</label>
      <input type="text" id="state" name="state" maxlength="2" value="{{ emp.State if emp else '' }}" required><br><br>

      <label for="zip">Zip Code:</label>
      <input type="number" id="zip" name="zip" value="{{ emp.ZIPCode if emp else '' }}" required><br><br>

      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" name="phone" maxlength="12" value="{{ emp.PhoneNumber if emp else '' }}" required oninput="formatPhone()"><br><br>

      <label for="degree">Highest Academic Degree:</label>
      <select id="degree" name="degree">
        <option value="" {{ 'selected' if not emp or not emp.HighestDegree }}>-- Select --</option>
      {% for degree in degrees %}
        <option value="{{ degree.Name }}" {{ 'selected' if emp and emp.HighestDegree == degree.Name }}>{{ degree.Name }}</option>
      {% endfor %}
      </select><br><br>

      <label for="experience">Years of Work Experience:</label>
      <input type="number" id="experience" name="experience" min="0" value="{{ emp.ExternalYearsWorked if emp else '' }}" required><br><br>
    </fieldset>

    <fieldset>
      <legend>Job Information</legend>

      <label for="external_hire">External Hire:</label>
      <select id="external_hire" name="external_hire" required>
        <option value="1">Yes</option>
        <option value="0" {{ 'selected' if emp }}>No</option>
      </select><br><br>

      <label for="position">Position:</label>
      <select id="position" name="position" required>
        <option value>-- Select --</option>
        {% for position in positions %}
        <option value="{{ position.Name }}" {{ 'selected' if emp and emp.Position == position.Name }}>{{ position.Name }}</option>
        {% endfor %}
      </select><br><br>

      <label for="employment_type">Employment Type:</label>
      <select id="employment_type" name="employment_type" required
        onchange="setBenefitsEnabled()"
      >
        {% for emp_type in employment_types %}
        <option value="{{ emp_type.Name }}" {{ 'selected' if emp and emp.EmploymentType == emp_type.Name }}>{{ emp_type.Name }}</option>
        {% endfor %}
      </select><br><br>

      <label for="salary">Salary:</label>
      <input type="number" id="salary" name="salary" min="0" value="{{ emp.Salary if emp else '' }}" required><br><br>

      <label for="departments">Departments (⌘ + click for multiple):</label><br>
      <select id="departments" name="departments" multiple>
        {% for department in departments %}
        <option value="{{ department.Name }}" {{ 'selected' if emp and department.Name in emp.Departments }}>{{ department.Name }}</option>
        {% endfor %}
      </select><br><br>

      <label for="health_insurance">Health Insurance Provider:</label>
      <select id="health_insurance" name="health_insurance" required>
        <option value>-- Select --</option>
        <option id="company_ins_opt" value="Company" {{ 'selected' if emp and emp.HealthInsurance == 'Company' }}>Company Plan (if full-time)</option>
        <option value="Family" {{ 'selected' if emp and emp.HealthInsurance == 'Family' }}>Family Member</option>
        <option value="Private" {{ 'selected' if emp and emp.HealthInsurance == 'Private' }}>Private Insurance</option>
        <option value="Medicare" {{ 'selected' if emp and emp.HealthInsurance == 'Medicare' }}>Medicare</option>
      </select><br><br>
    </fieldset>

    <fieldset>
      <legend>Company Benefits Selection</legend>
      {% for benefit in benefits %}
      <input type="checkbox" id="{{ benefit.Name }}" name="benefits" value="{{ benefit.Name }}"
        {{ 'checked' if emp and benefit.Name in emp.Benefits }}
      >
      <label for="{{ benefit.Name }}">{{ benefit.Name }}</label><br>
      {% endfor %}
    </fieldset>

    {% if emp is not defined %}
    <button type="submit" id="submit-button" formaction="/employee/insert">Submit</button>
    {% else %}
    <button type="submit" id="update-button" name="action" value="update" formaction="/employee/{{ emp.ID }}/edit">Update</button>
    <button type="submit" id="update-button" name="action" value="amend" formaction="/employee/{{ emp.ID }}/edit">Amend</button>
    {% endif %}
  </form>
{% endblock %}
