<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Data Form</title>
  <script>
    function setRequiredHealthInsurance() {
      let employment_type = document.getElementById('employment_type');
      if (employment_type.value === 'Full-Time')
        document.getElementById('health_insurance').required = true;
      else
        document.getElementById('health_insurance').required = false;
    }
  </script>
</head>

<body>
  <h1>Employee Data Form</h1>
  <form action="/employee/insert" method="POST">
    <fieldset>
      <legend>Personal Information</legend>

      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required><br><br>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required><br><br>

      <label for="gender">Gender:</label>
      <select id="gender" name="gender" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select><br><br>

      <label for="ssn">Social Security Number:</label>
      <input type="text" id="ssn" name="ssn" required><br><br>

      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" required><br><br>

      <label for="address">Primary Address:</label>
      <input type="text" id="address" name="address" required><br><br>

      <label for="city">City:</label>
      <input type="text" id="city" name="city" required><br><br>

      <label for="state">State:</label>
      <input type="text" id="state" name="state" required><br><br>

      <label for="zip">Zip Code:</label>
      <input type="number" id="zip" name="zip" required><br><br>

      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" name="phone" required><br><br>

      <label for="degree">Highest Academic Degree:</label>
      <select id="degree" name="degree">
        <option value="">-- Select --</option>
        <option value="Diploma">High School</option>
        <option value="Associate">Associate's Degree</option>
        <option value="Bachelor">Bachelor's Degree</option>
        <option value="Master">Master's Degree</option>
        <option value="Doctoral">Doctorate</option>
      </select><br><br>

      <label for="experience">Years of Work Experience:</label>
      <input type="number" id="experience" name="experience" min="0" required><br><br>

    </fieldset>

    <fieldset>
      <legend>Job Information</legend>

      <label for="external_hire">External Hire:</label>
      <select id="external_hire" name="external_hire" required>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select><br><br>

      <label for="position">Position:</label>
      <select id="position" name="position" required>
        {% for position in positions %}
        <option value="{{ position.Name }}">{{ position.Name }}</option>
        {% endfor %}
      </select><br><br>

      <label for="employment_type">Employment Type:</label>
      <select id="employment_type" name="employment_type" required onchange="setRequiredHealthInsurance()">
        <option value="Full-Time">Full-Time</option>
        <option value="Part-Time">Part-Time</option>
        <option value="Seasonal">Seasonal</option>
        <option value="Contractor">Contract</option>
        <option value="Intern">Internship</option>
      </select><br><br>

      <label for="salary">Salary:</label>
      <input type="number" id="salary" name="salary" min="0" required><br><br>

      <label for="department">Department:</label>
      <select id="department" name="department" required>
        {% for department in departments %}
        <option value="{{ department.Name }}">{{ department.Name }}</option>
        {% endfor %}
      </select><br><br>

      <label for="health_insurance">Health Insurance:</label>
      <input type="text" id="health_insurance" name="health_insurance" required><br><br>

    </fieldset>

    <button type="submit">Submit</button>
  </form>
</body>

</html>