{% extends 'employee/index.html' %}
{% block head %}
  {{ super() }}
  <style>
    #advanced-fields {
      display: none;
    }
    .toggle-buttons {
      margin-bottom: 20px;
    }
  </style>
  <script>
    // Function to toggle between basic and advanced search
    function showSearchForm(formType) {
      const advancedFieldset = document.getElementById('advanced-fields');
      if (formType === 'basic') {
        advancedFieldset.style.display = 'none';
        advancedFieldset.disabled = true;
      } else {
        advancedFieldset.style.display = 'block';
        advancedFieldset.disabled = false;
      }
    }
    function toggleCheckboxes() {
      const checkboxes = document.getElementsByName('select');
      const selectAll = document.getElementById('select-all');
      checkboxes.forEach(checkbox => {
        checkbox.checked = selectAll.checked;
      });
    }
    async function deleteAllEmployees() {
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      const selectedEmployees = Array.from(checkboxes)
        .filter(checkbox => checkbox.checked)
        .map(checkbox => checkbox.id);
      if (selectedEmployees.length === 0) {
        alert('Please select at least one employee to delete.');
      } else if (confirm('Are you sure you want to delete the selected employees?')) {
        selectedEmployees.forEach(employeeID => {
          fetch(`/employee/${employeeID}`, {
            method: 'DELETE'
          });
        });
      }
    }
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
{% block content %}
  {{ super() }}

  <h3>Search Employee Database</h3>

  <!-- Basic Search Form -->
  <form action="/employee/search" method="GET">
    <div class="toggle-buttons">
      <button type="button" onclick="showSearchForm('basic')">Basic Search</button>
      <button type="button" onclick="showSearchForm('advanced')">Advanced Search</button>
      <button type="submit">Search</button>
    </div>

    <fieldset>
      <legend>Basic Search Criteria</legend>

      <input type="checkbox" id="historical" name="historical">
      <label for="historical">Include Inactive Employees</label><br><br>

      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name"><br><br>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name"><br><br>

      <label for="employee_number">Employee Number:</label>
      <input type="text" id="employee_number" name="employee_number"><br><br>

      <label for="ssn">Social Security Number:</label>
      <input type="text" id="ssn" name="ssn" maxlength="11" oninput="formatSSN()"><br><br>

      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" name="phone" maxlength="12" oninput="formatPhone()"><br><br>
    </fieldset>
    <!-- Advanced Search Form -->
    <fieldset id="advanced-fields" disabled="true">
      <legend>Advanced Search Criteria</legend>

      <label for="gender">Gender:</label>
      <select id="gender" name="gender">
        <option value>-- Select --</option>
      {% for gender in genders %}
        <option value="{{ gender.Name }}">{{ gender.Name }}</option>
      {% endfor %}
      </select><br><br>

      <label for="degree">Highest Academic Degree:</label>
      <select id="degree" name="degree">
        <option value>-- Select --</option>
      {% for degree in degrees %}
        <option value="{{ degree.Name }}">{{ degree.Name }}</option>
      {% endfor %}
      </select><br><br>

      <label for="experience">Years of Work Experience:</label>
      <input type="number" id="experience" name="experience" min="0"><br><br>

      <label for="position">Position:</label>
      <select id="position" name="position">
        <option value>-- Select --</option>
        {% for position in positions %}
        <option value="{{ position.Name }}">{{ position.Name }}</option>
        {% endfor %}
      </select><br><br>

      <label for="salary_min">Salary (Min):</label>
      <input type="number" id="salary_min" name="salary_min" min="0"><br><br>
      <label for="salary_max">Salary (Max):</label>
      <input type="number" id="salary_max" name="salary_max" min="0"><br><br>

      <label for="employment_type">Employment Type:</label>
      <select id="employment_type" name="employment_type">
        <option value>-- Select --</option>
        {% for emp_type in employment_types %}
        <option value="{emp_type.Name}">{{ emp_type.Name }}</option>
        {% endfor %}
      </select><br><br>

      <label for="departments">Departments:</label>
      <select id="departments" name="departments" multiple>
        {% for department in departments %}
        <option value="{{ department.Name }}">{{ department.Name }}</option>
        {% endfor %}
      </select><br><br>

      <label for="address">Address:</label>
      <input type="text" id="address" name="address"><br><br>

      <label for="city">City:</label>
      <input type="text" id="city" name="city"><br><br>

      <label for="state">State:</label>
      <input type="text" id="state" name="state" maxlength="2"><br><br>

      <label for="zip">Zip Code:</label>
      <input type="number" id="zip" name="zip"><br><br>

    </fieldset>
    <button type="submit"
      style="margin-top: 1rem; margin-bottom: 1rem;"
    >Search</button>
    <button type="button" onclick="deleteAllEmployees()">Archive Selected</button>
  </form>

  <table border="1">
    <thead>
      <tr>
        <th>
          <input type="checkbox" id="select-all" onclick="toggleCheckboxes()">
        </th>
        <th>ID</th>
        <th>SSN</th>
        <th>First</th>
        <th>Last</th>
        <th>Gender</th>
        <th>Degree</th>
        <th>YoE</th>
        <th>Departments</th>
        <th>Title</th>
        <th>Salary</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr>
        <td>
          <input type="checkbox" id="{{ employee.ID }}" name="select">
        </td>
        <td>{{ employee.ID }}</td>
        <td>{{ employee.SocialSecurity }}</td>
        <td>{{ employee.FirstName }}</td>
        <td>{{ employee.LastName }}</td>
        <td>{{ employee.Gender }}</td>
        <td>{{ employee.HighestDegree }}</td>
        <td>{{ employee.ExternalYearsWorked }}</td>
        <td>{{ employee.Departments }}</td>
        <td>{{ employee.Position }}</td>
        <td>{{ employee.Salary }}</td>
        <td>
          <a href="/employee/{{ employee.ID }}">Details</a>
          <a href="/employee/{{ employee.ID }}/edit">Update</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
