{% extends 'position/index.html' %}

{% block head %}
  {{ super() }}
  <title>Position Manager</title>
  <style>
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  </style>
{% endblock %}

{% block content %}
  {{ super() }}
  <h3>Search Positions Database</h3>

  <!-- Basic Search Form -->
  <form action="/position/search" method="GET">
    <fieldset>
      <label for="order">Order by:</label>
      <select id="order" name="order">
        <option value="alphabetical">Alphabetical</option>
        <option value="avg_salary">Avg. Salary</option>
      </select>

    </fieldset>
    <button type="submit" style="margin-top: 1rem; margin-bottom: 1rem;">Search</button>

    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Salary (Min)</th>
          <th>Salary (Max)</th>
          <th># Employees</th>
          <th>Salary (Avg)</th>
          <th>Male Salary (Avg)</th>
          <th>Female Salary (Avg)</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        {% for pos in positions %}
        <tr>
          <td>{{ pos.Name }}</td>
          <td>{{ pos.MinimumSalary }}</td>
          <td>{{ pos.MaximumSalary }}</td>
          <td>{{ pos.EmployeeCount }}</td>
          <td>{{ pos.AverageSalary | round
                 if pos.AverageSalary else 'N/A' }}
          </td>
          <td>{{ pos.AvgSalaryMale }}</td>
          <td>{{ pos.AvgSalaryFemale }}</td>
          <td>
            <a href="/position/{{ pos.Name }}/edit">Update</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>

{% endblock %}
