{% extends 'position/index.html' %}

{% block head %}
  {{ super() }}
  <title>Position Manager</title>
  <style>
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  </style>
{% endblock %}

{% block content %}
  {{ super() }}
  <h3>Search Positions Database</h3>

  <!-- Basic Search Form -->
  <form action="/position/search" method="GET">
    <fieldset>
      <br>
      <label for="salary_min">Salary (Min):</label>
      <input type="number" id="salary_min" name="salary_min" min="0"><br><br>

      <label for="salary_max">Salary (Min):</label>
      <input type="number" id="salary_max" name="salary_max" min="0"><br><br>

    </fieldset>
    <button type="submit" style="margin-top: 1rem; margin-bottom: 1rem;">Search</button>

    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Salary (Min)</th>
          <th>Salary (Max)</th>
          <th># Employees</th>
          <th>Salary (Avg)</th>
          <th>Male Salary (Avg)</th>
          <th>Female Salary (Avg)</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        {% for pos in positions %}
        <tr>
          <td>{{ pos.Name }}</td>
          <td>{{ pos.MinimumSalary }}</td>
          <td>{{ pos.MaximumSalary }}</td>
          <td>{{ pos.EmployeeCount }}</td>
          <td>{{ pos.AverageSalary | round
                 if pos.AverageSalary else 'N/A' }}
          </td>
          <td>{{ pos.AvgSalaryMale }}</td>
          <td>{{ pos.AvgSalaryFemale }}</td>
          <td>
            <a href="/position/{{ pos.Name }}/edit">Update</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>

{% endblock %}
