<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
  <title>Company Database</title>
</head>
<body>
  <div style="display: flex; align-items: baseline;">
    <h1>Company Database</h1>
    <nav style="margin-left: 10px;">
      <a href="/">Home</a> |
      <a href="/employee">Employees</a> |
      <a href="/project">Projects</a> |
      <a href="/query">Enter SQL</a>
    </nav>
  </div>
  <div>{% block content %}{% endblock %}</div>
</body>
</html>